body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: "Open Sans", sans-serif;
}

/* Loading app */

.counter {
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
  position: absolute;
  margin-left: 1200px;
  margin-top: 400px;
  font-size: 50px;
  color: rgb(238, 231, 255);
}

/* Section of all containers */
.section-toDoList {
  position: absolute;
  background-image: url("/board-g5e011d2b0_1920.jpg");
  background-size: cover;
  left: -30px;
  top: -30px;
  width: calc(100vw + 60px);
  height: calc(110vh + 60px);
  filter: blur(0px);
}

.toDo-box {
  max-width: 570px;
  background-color: rgb(97, 100, 110, 0.7);
  margin: 100px auto;
  padding: 20px 50px 30px 50px;
}

.todo-header {
  text-align: center;
  font-size: 35px;
  color: rgb(204, 204, 255, 0.9);
  letter-spacing: 13px;
  margin: 0 0 50px 0;
}

/* Form toDo */

.form-toDo {
  display: flex;
  justify-content: center;
}

.form-control {
  position: relative;
}

.form-control input {
  background-color: transparent;
  border: 0;
  border-bottom: 2px solid rgb(238, 231, 255);
  width: 300px;
  padding: 3px 0;
  font-size: 18px;
  color: rgb(238, 231, 255);
  cursor: pointer;
}

.form-control input:focus {
  outline: none;
  border-bottom-color: rgb(238, 231, 255);
}

.form-control label {
  position: absolute;
  top: 6px;
  left: 0px;
  color: rgb(238, 231, 255);
}

.form-control label span {
  display: inline-block;
  font-size: 18px;
  min-width: 5px;
  transition: 0.3s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}

.form-control input:focus + label span {
  color: rgb(238, 231, 255);
  transform: translateY(-30px);
}

.fa-trash,
.fa-check {
  pointer-events: none;
}

/* List-toDo */

.list-container ul {
  padding-left: 47px;
}

.list-container ul li {
  list-style: none;
  flex: 1;
  font-size: 20px;
}

.todo {
  display: flex;
  align-items: center;
  max-width: 425px;
  margin: 25px;
  border-bottom: 2px solid rgb(238, 231, 255);
  font-size: 18px;
  transition: all 0.5s ease;
  color: rgb(238, 231, 255);
}

/* Animation */
.fall {
  transform: translateY(50px) rotateZ(10deg);
  opacity: 0;
}

/* Buttons */

.complete-btn,
.trash-btn {
  padding: 6px 8px;
  cursor: pointer;
  color: rgb(238, 231, 255);
  font-size: 14px;
  border: 0;
  border-radius: 5px;
  text-decoration: line-through;
}

.complete-btn {
  background-color: rgba(0, 255, 42, 0.561);
}

.completed {
  text-decoration: line-through;
  opacity: 0.5;
}

.trash-btn {
  background-color: rgba(255, 81, 0, 0.794);
}

/* ADD button */
.button-add {
  margin-left: -37px;
  margin-right: 20px;
  padding: 3px 6px;
  cursor: pointer;
  color: rgb(238, 231, 255);
  background-color: rgb(204, 204, 255, 0.7);
  font-size: 14px;
  border: 0;
  font-weight: 600;
  border-radius: 5px;
}

.plus-icon {
  font-size: 23px;
  font-weight: 600;
  padding: 0 4px;
}

/* Select  */
select {
  appearance: none;
  outline: none;
  width: 105px;
  background-color: transparent;
  font-size: 13px;
  padding: 5px 15px;
  border-radius: 9px;
  transition: all 0.2s;
  cursor: pointer;
  color: rgb(238, 231, 255);
  font-weight: bold;
  letter-spacing: 2px;
  border: 1px solid rgb(238, 231, 255);
  text-align: center;
}

select:hover {
  border-color: #66ff99;
}

select > option {
  background-color: rgb(60, 80, 164, 0.5);
  color: rgb(238, 231, 255);
}
.select-container {
  align-self: self-end;
}

/* Button show */

.btn-show {
  color: rgb(238, 231, 255);
  background-color: transparent;
  padding: 0;
  border: none;
}

.fa-caret-down {
  font-size: 30px;
  color: rgb(204, 204, 255, 0.7);
}
/* Todos list */

.btn-add {
  font-size: 15px;
  text-decoration: none;
  display: inline-block;
  padding: 5px 40px;
  border-radius: 9px;
  transition: all 0.4s;
  border: none;
  cursor: pointer;
  font-family: inherit;
  background-color: rgb(238, 231, 255);
}

.btn-add:hover {
  background-color: rgb(255, 230, 230, 0.6);
}

/* Progress bar */
.progress-container {
  text-align: center;
  margin-top: 80px;
}

.header-progress {
  margin: 0 0 35px 0;
  letter-spacing: 3px;
}

.header-progress > span {
  font-size: 25px;
  color: #66ff99;
  font-weight: bold;
}

.header-progress > strong {
  color: #f0e68c;
}

.progress-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  margin-bottom: 30px;
}

.progress-box::before {
  content: "";
  position: absolute;
  top: 50%;
  left: 30px;
  transform: translateY(-50%);
  height: 3px;
  width: 85%;
  z-index: -1;
  transition: 0.7s ease;
}

.progress {
  background-color: #ccccff;
  position: absolute;
  top: 50%;
  left: 40px;
  transform: translateY(-50%);
  height: 4px;
  width: 0%;
  z-index: -1;
  transition: 0.4s ease;
}

/* Icons style */
.circle-icon {
  font-size: 50px;
  color: #ccccff;
}
.fa-trophy {
  font-size: 45px;
}
/* Circle style */

.circle {
  color: #999;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 3px solid #999;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.7s ease;
}

.complete {
  border: 0;
}

.circle.active {
  border-color: #66ff99;
  color: black;
}

/* Buttons progress bar */

.btn-progress {
  font-size: 15px;
  padding: 5px 15px;
  margin: 5px;
  border-radius: 9px;
  transition: all 0.4s;
  cursor: pointer;
  color: rgb(238, 231, 255);
  font-weight: bold;
  letter-spacing: 2px;
  background-color: transparent;
  border: 1px solid rgb(238, 231, 255);
}

.btn-progress:hover {
  border-color: #66ff99;
}

.btn-progress:focus {
  outline: 0;
}
.btn-progress:active {
  transform: scale(0.97);
}

.btn-progress:disabled {
  cursor: not-allowed;
}

.header-progress {
  font-size: 20px;
  color: rgb(238, 231, 255);
}
